/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ASIDE */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


aside {
	margin-bottom: 0;
	border-left:#AAAAAA solid 8px;
	padding-left:16px;
	padding-right:16px;
	padding-top:4px;
	padding-bottom:4px;
	background-color:#EAEAEA;
	margin-top:32px;
	margin-bottom:32px;
}






