/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* BACK TO TOP */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
	#back-to-top {
		
		border-radius:5px 5px 0 0 ;
		position:fixed;
		right:40px;
	
		bottom: -5px;
		z-index: 4000;
		width:42px;
		height:42px;
	}
	
	@media screen and (max-width: 768px) {
		#back-to-top {
	
			width:50px;
			height:48px;
			bottom: 0px;
			
		}	
	}
	
