/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* COLOUR-IMAGES */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


.image-small > img{
	border-color:#CCC;
}

.image-medium > img {
	
	border-color:#CCC;
}

.gallery-item-medium > img {
	
	border-color:#CCC;
}

.gallery-item-small > img {
	
	border-color:#CCC;
}
