/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* COLOUR-TYPOGRAPHY */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.red-text {
	color:#900;
}

.grey-text {
	color:#8C8C8C;
}

.black-text {
	color:#222;
}

