/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* DOCUMENT */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.document {
	padding-left:32px;
	padding-right:32px;
	padding-top:32px;
	padding-bottom:48px;
}

.document-text-centered  {
	text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}



