/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* DOCUMENT-TITLE */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.document-title {
	padding-left:32px;
	padding-right:32px;
	padding-top:32px;
	padding-bottom:34px;
}

.document-title-text-centered{
	text-align:center;
}