/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* FONT-WEIGHT */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


.font-weight-book {

	font-family:'FuturaStdBook';
}

.font-weight-bold {
	
	font-family:'FuturaStdBold';
}

.font-weight-light {
	
	font-family:'FuturaStdLight';
}

.font-weight-medium {
	
	font-family:'FuturaStdMedium';
}


