/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/*  MOBILE-BAR */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media screen and (min-width: 1440px) {

	.bar {
		padding-left: 64px;
		height: 50px;
		line-height: 50px;
	}
}

