/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/*  MOBILE-DOCUMENT */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media screen and (min-width: 1440px) {
	
	.document {
	    padding-left: 64px;
	    padding-right: 64px;
	    padding-bottom: 64px;
	    padding-top: 64px;
	}
	
	.document-text-centered {
		text-align: center;
    	margin-left: 10%;
    	margin-right: 10%;
	}
}


