/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* LISTS*/
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


/* ----------------------------------------------------- */
/* LIST TEXT */
/* ----------------------------------------------------- */

@media screen and (min-width: 1440px) {

/* ----------------------------------------------------- */
/* LIST TEXT */
/* ----------------------------------------------------- */
  
	ul.list-text {
		padding-right: 64px;
		padding-top: 18px;
	 }

/* ----------------------------------------------------- */
/* LIST ICONS */
/* ----------------------------------------------------- */

	ul.list-icons li p {
		line-height: 50px;
	}

	ul.list-horizontal li p { 
		line-height: 50px;
	}
}





