/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* GALLERY PANEL */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


.gallery-panel {

	max-width:960px;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* GALLERY ITEM MEDIUM */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
	
.gallery-item-medium{

	width: 33.33%;
	min-width: 120px;
	max-width: 320px;
	padding:24px;

	> img {

		border-style: solid;
		border-width: 1px;
		width: 100%;
		height: auto;
		margin-bottom:32px;
	}
}
	
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* GALLERY ITEM SMALL */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.gallery-item-small {

	padding:8px;

	> img {

		border-style: solid ;
		border-width: 1px;
		max-width:120px;
		max-height:120px;
		padding:0px;
		display: block;
	}
}