 /* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* HERO-TEXT */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
	
.hero-banner {

	.image-background{
		width:100%;
		height: auto;
		display:block;
	}
	
	.image-button {
		margin-top: 8px;
		margin-bottom:8px;
		margin-left:4px;
		margin-right:4px;
		float: left;
	}	
}

.hero-banner-text {

	position:absolute;
	padding: 32px 32px 32px 32px;
	
}

.hero-banner-text-centered {
	text-align:center;
}






	
