/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* HIDE-SHOW-NAV */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

#main-horizontal-icons{
	display:none;	
}

#main-horizontal-text{
	display:block;
}

#header-horizontal-nav{
	display:block;
}

