.icon-image {
  display: inline-block;
  font: normal normal normal 14px/1 "BlackTieLight";
  font-size: inherit;
  vertical-align: -14.28571429%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.icon-image {
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

.icon-image.border-none{
  border-style: none;
}

.icon-image.background-none{
  background: none;
}

 .icon-name,
 .icon-details{
   font-size:0px; 
}

.image-size1 {
  padding-top: 4px;
  font-size: 1.2em;
  width: 28px;
  height: 28px;
}

.image-size2 {
  padding-top: 6px;
  font-size: 2em;
  width: 42px;
  height: 42px;
}

.image-size3 {
  padding-top: 8px;
  font-size: 2.4em;
  width: 56px;
  height: 56px
}

.image-size3 {
  vertical-align: -30%;
}

.image-bars:before {
  content: "\f000";
}
.image-envelope:before {
  content: "\f001";
}
.image-search:before {
  content: "\f002";
}
.image-search-plus:before {
  content: "\f003";
}
.image-search-minus:before {
  content: "\f004";
}
.image-phone:before {
  content: "\f005";
}
.image-comment:before {
  content: "\f007";
}
.image-commenting:before {
  content: "\f008";
}
.image-comments:before {
  content: "\f009";
}
.image-rss:before {
  content: "\f00a";
}
.image-times:before {
  content: "\f00c";
}
.image-times-circle:before {
  content: "\f00d";
}
.image-clock:before {
  content: "\f00e";
}
.image-star:before {
  content: "\f010";
}
.image-star-half:before {
  content: "\f011";
}
.image-check:before {
  content: "\f012";
}
.image-check-circle:before {
  content: "\f013";
}
.image-check-square:before {
  content: "\f014";
}
.image-th:before {
  content: "\f015";
}
.image-th-large:before {
  content: "\f016";
}
.image-heart:before {
  content: "\f017";
}
.image-heart-half:before {
  content: "\f018";
}
.image-calendar:before {
  content: "\f019";
}
.image-shopping-cart:before {
  content: "\f01a";
}
.image-plus:before {
  content: "\f01b";
}
.image-plus-circle:before {
  content: "\f01c";
}
.image-plus-square:before {
  content: "\f01d";
}
.image-pen:before {
  content: "\f01e";
}
.image-minus:before {
  content: "\f021";
}
.image-minus-circle:before {
  content: "\f022";
}
.image-minus-square:before {
  content: "\f023";
}
.image-pencil:before {
  content: "\f024";
}
.image-edit:before {
  content: "\f025";
}
.image-thumbs-up:before {
  content: "\f026";
}
.image-thumbs-down:before {
  content: "\f027";
}
.image-gear:before {
  content: "\f028";
}
.image-trash:before {
  content: "\f029";
}
.image-file:before {
  content: "\f02a";
}
.image-info-circle:before {
  content: "\f02b";
}
.image-label:before {
  content: "\f02c";
}
.image-rocket:before {
  content: "\f02d";
}
.image-book:before {
  content: "\f02e";
}
.image-book-open:before {
  content: "\f02f";
}
.image-notebook:before {
  content: "\f030";
}
.image-camera:before {
  content: "\f031";
}
.image-folder:before {
  content: "\f032";
}
.image-quote-left:before {
  content: "\f036";
}
.image-quote-right:before {
  content: "\f037";
}
.image-eye:before {
  content: "\f038";
}
.image-lock:before {
  content: "\f039";
}
.image-lock-open:before {
  content: "\f03a";
}
.image-gift:before {
  content: "\f03b";
}
.image-spinner-clock:before {
  content: "\f03c";
}
.image-spinner:before {
  content: "\f03d";
}
.image-wrench:before {
  content: "\f03e";
}
.image-cloud:before {
  content: "\f040";
}
.image-cloud-upload:before {
  content: "\f041";
}
.image-cloud-download:before {
  content: "\f042";
}
.image-sync:before {
  content: "\f043";
}
.image-question-circle:before {
  content: "\f044";
}
.image-share:before {
  content: "\f045";
}
.image-briefcase:before {
  content: "\f046";
}
.image-money:before {
  content: "\f047";
}
.image-megaphone:before {
  content: "\f048";
}
.image-sign-in:before {
  content: "\f049";
}
.image-sign-out:before {
  content: "\f04a";
}
.image-film:before {
  content: "\f04b";
}
.image-trophy:before {
  content: "\f04c";
}
.image-code:before {
  content: "\f04d";
}
.image-light-bulb:before {
  content: "\f04e";
}
.image-print:before {
  content: "\f050";
}
.image-fax:before {
  content: "\f051";
}
.image-video:before {
  content: "\f052";
}
.image-signal:before {
  content: "\f053";
}
.image-sitemap:before {
  content: "\f054";
}
.image-upload:before {
  content: "\f055";
}
.image-download:before {
  content: "\f056";
}
.image-key:before {
  content: "\f057";
}
.image-mug:before {
  content: "\f058";
}
.image-bookmark:before {
  content: "\f059";
}
.image-flag:before {
  content: "\f05a";
}
.image-external-link:before {
  content: "\f05b";
}
.image-smile:before {
  content: "\f05c";
}
.image-frown:before {
  content: "\f05d";
}
.image-meh:before {
  content: "\f05e";
}
.image-magic:before {
  content: "\f060";
}
.image-bolt:before {
  content: "\f061";
}
.image-exclamation-triangle:before {
  content: "\f062";
}
.image-exclamation-circle:before {
  content: "\f063";
}
.image-flask:before {
  content: "\f064";
}
.image-music:before {
  content: "\f065";
}
.image-push-pin:before {
  content: "\f066";
}
.image-shield:before {
  content: "\f067";
}
.image-sort:before {
  content: "\f068";
}
.image-reply:before {
  content: "\f069";
}
.image-forward:before {
  content: "\f06a";
}
.image-reply-all:before {
  content: "\f06b";
}
.image-forward-all:before {
  content: "\f06c";
}
.image-bell:before {
  content: "\f06d";
}
.image-bell-off:before {
  content: "\f06e";
}
.image-ban:before {
  content: "\f070";
}
.image-database:before {
  content: "\f071";
}
.image-hard-drive:before {
  content: "\f072";
}
.image-merge:before {
  content: "\f073";
}
.image-fork:before {
  content: "\f074";
}
.image-wifi:before {
  content: "\f075";
}
.image-paper-plane:before {
  content: "\f076";
}
.image-inbox:before {
  content: "\f077";
}
.image-fire:before {
  content: "\f078";
}
.image-play:before {
  content: "\f079";
}
.image-pause:before {
  content: "\f07a";
}
.image-stop:before {
  content: "\f08b";
}
.image-play-circle:before {
  content: "\f07b";
}
.image-next:before {
  content: "\f07c";
}
.image-previous:before {
  content: "\f07d";
}
.image-repeat:before {
  content: "\f07e";
}
.image-fast-forward:before {
  content: "\f080";
}
.image-fast-reverse:before {
  content: "\f081";
}
.image-volume:before {
  content: "\f082";
}
.image-volume-off:before {
  content: "\f083";
}
.image-volume-up:before {
  content: "\f084";
}
.image-volume-down:before {
  content: "\f085";
}
.image-maximize:before {
  content: "\f086";
}
.image-minimize:before {
  content: "\f087";
}
.image-closed-captions:before {
  content: "\f088";
}
.image-shuffle:before {
  content: "\f089";
}
.image-triangle:before {
  content: "\f08a";
}
.image-square:before {
  content: "\f08b";
}
.image-circle:before {
  content: "\f08c";
}
.image-hexagon:before {
  content: "\f08d";
}
.image-octagon:before {
  content: "\f08e";
}
.image-angle-up:before {
  content: "\f090";
}
.image-angle-down:before {
  content: "\f091";
}
.image-angle-left:before {
  content: "\f092";
}
.image-angle-right:before {
  content: "\f093";
}
.image-angles-up:before {
  content: "\f094";
}
.image-angles-down:before {
  content: "\f095";
}
.image-angles-left:before {
  content: "\f096";
}
.image-angles-right:before {
  content: "\f097";
}
.image-arrow-up:before {
  content: "\f098";
}
.image-arrow-down:before {
  content: "\f099";
}
.image-arrow-left:before {
  content: "\f09a";
}
.image-arrow-right:before {
  content: "\f09b";
}
.image-bar-chart:before {
  content: "\f09c";
}
.image-pie-chart:before {
  content: "\f09d";
}
.image-circle-arrow-up:before {
  content: "\f0a0";
}
.image-circle-arrow-down:before {
  content: "\f0a1";
}
.image-circle-arrow-left:before {
  content: "\f0a2";
}
.image-circle-arrow-right:before {
  content: "\f0a3";
}
.image-caret-up:before {
  content: "\f0a4";
}
.image-caret-down:before {
  content: "\f0a5";
}
.image-caret-left:before {
  content: "\f0a6";
}
.image-caret-right:before {
  content: "\f0a7";
}
.image-long-arrow-up:before {
  content: "\f0a8";
}
.image-long-arrow-down:before {
  content: "\f0a9";
}
.image-long-arrow-left:before {
  content: "\f0aa";
}
.image-long-arrow-right:before {
  content: "\f0ab";
}
.image-Bold:before {
  content: "\f0ac";
}
.image-italic:before {
  content: "\f0ad";
}
.image-underline:before {
  content: "\f0ae";
}
.image-link:before {
  content: "\f0b0";
}
.image-paper-clip:before {
  content: "\f0b1";
}
.image-align-left:before {
  content: "\f0b2";
}
.image-align-center:before {
  content: "\f0b3";
}
.image-align-right:before {
  content: "\f0b4";
}
.image-align-justify:before {
  content: "\f0b5";
}
.image-cut:before {
  content: "\f0b6";
}
.image-copy:before {
  content: "\f0b7";
}
.image-paste:before {
  content: "\f0b8";
}
.image-photo:before {
  content: "\f0b9";
}
.image-table:before {
  content: "\f0ba";
}
.image-ulist:before {
  content: "\f0bb";
}
.image-olist:before {
  content: "\f0bc";
}
.image-indent:before {
  content: "\f0bd";
}
.image-outdent:before {
  content: "\f0be";
}
.image-undo:before {
  content: "\f0c0";
}
.image-redo:before {
  content: "\f0c1";
}
.image-sup:before {
  content: "\f0c2";
}
.image-sub:before {
  content: "\f0c3";
}
.image-text-size:before {
  content: "\f0c4";
}
.image-text-color:before {
  content: "\f0c5";
}
.image-remove-formatting:before {
  content: "\f0c6";
}
.image-blockquote:before {
  content: "\f036";
}
.image-globe:before {
  content: "\f0c7";
}
.image-map:before {
  content: "\f0c8";
}
.image-map-arrow:before {
  content: "\f0c9";
}
.image-map-marker:before {
  content: "\f0ca";
}
.image-map-pin:before {
  content: "\f0cb";
}
.image-home:before {
  content: "\f0cc";
}
.image-building:before {
  content: "\f0cd";
}
.image-industry:before {
  content: "\f0ce";
}
.image-desktop:before {
  content: "\f0d0";
}
.image-laptop:before {
  content: "\f0d1";
}
.image-tablet:before {
  content: "\f0d2";
}
.image-mobile:before {
  content: "\f0d3";
}
.image-tv:before {
  content: "\f0d4";
}
.image-radio-checked:before {
  content: "\f0d5";
}
.image-radio-unchecked:before {
  content: "\f08c";
}
.image-checkbox-checked:before {
  content: "\f014";
}
.image-checkbox-unchecked:before {
  content: "\f08b";
}
.image-checkbox-intermediate:before {
  content: "\f023";
}
.image-user:before {
  content: "\f0d6";
}
.image-user-male:before {
  content: "\f0d6";
}
.image-user-female:before {
  content: "\f0d7";
}
.image-crown:before {
  content: "\f0d8";
}
.image-credit-card:before {
  content: "\f0d9";
}
.image-strikethrough:before {
  content: "\f0da";
}
.image-eject:before {
  content: "\f0db";
}
.image-ellipsis-h:before {
  content: "\f0dc";
}
.image-ellipsis-v:before {
  content: "\f0dd";
}
