/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* IMAGE */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

img {
	padding:0px;
	margin:0px;
	display: block;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* IMAGE-SMALL IMAGE */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.image-small {

	float:left;
	padding-bottom:16px;
	padding-right:16px;

	> img {

		border-style: solid;
		border-width: 1px;
		max-width:120px;
		max-height:120px;
	}
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* IMAGE MEDIUM																									    */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

.image-medium {

	width:30%;
	min-width:120px;
	max-width: 320px;

	height: auto;
	padding-bottom:32px;

	background-color:#AABBCC;

	> img {
		border-style: solid;
		border-width: 1px;

		width:100%;
		height:auto;

		/*margin-bottom: 16px;*/
	}
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* IMAGE LANGUAGE FLAG																								*/
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

.image-language-flag {
	margin-bottom:-4px;
	display: inline;
}
