/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* MOBILE STICKY APP LOGO  */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media screen and (max-width: 768px) {
	
	.sticky-app-logo{ 
		margin-top: 9px;
	}
		
	.sticky-app-logo img{
		width:32px;
		height:auto;
	}
}