/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/*  MOBILE-TYPOGRAPHY-PANEL */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media screen and (max-width: 900px) {
	
	.panel ul  {
		font-size:18px;
	}
	
	.panel h5  {
		font-size:18px;
	}
	
	.panel p {
		line-height:22px;
	}
}