/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/*  MOBILE-TYPOGRAPHY-LIST-TEXT */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media screen and (max-width: 768px) {
	
	ul.list-text li p {
		line-height: 21px;
		font-weight: 100;
		font-size: 16px;
	}
}
