/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/*  MOBILE-ORBIT */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media screen and (max-width: 900px) {

	ul.orbit-bullets {
    	top: 88px;
    	margin-left: 7px;
	}
}

@media screen and (max-width: 768px) {

	ul.orbit-bullets li {
		
		width: 30px;
		height: 30px;
	}
}

@media screen and (min-width: 700px) {
	
	.orbit-wrapper > .orbit-caption {
	
		position:absolute;
		top:0px
	}
}






