/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* MOBILE-SHOW-HIDE-NAV */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

@media screen and (max-width: 996px) {
	
	#main-horizontal-icons{
		display:block;
	}	

	#main-horizontal-text{
		display:none;
	}
	
	#header-horizontal-nav{
		display:none;
	}
}