/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* PARSLEY */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */


ul.parsley-error-list {
	padding-left:140px;
}

ul.parsley-error-list li {
    line-height: 12px;
}

@media all and (max-width: 475px) {

	ul.parsley-error-list {

		padding-left:0;
	}
}