/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* STICKY APP LOGO  */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.sticky-app-logo{ 
	
	margin-top: 9px;
	padding-right: 8px;
}

.sticky-app-logo img{

	width:24px;
	height:auto;
}
	