/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* STICKY MENU */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.sticky-menu{

	height: 36px;
	transition: top 0.15s ease-in-out;
    width: 100%;
		
	position:fixed; 
	top:128px;
	z-index:32;
}


.sticky-menu * .list-icons.show-title{
		display:none;
}


.sticky-menu-up {
	
	top: 0px;
}