.text-box-item {
	padding-left:16px;
	padding-right:16px;
	padding-top:16px;
	padding-bottom:16px;
	background-color:#E8E8E8;
	width:100%;
	max-width:400px;
	margin:16px;
	border-radius: 5px;
};

.text-box-text-centered {
	text-align:center;
};
	