/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* TYPOGRAPHY-PARSLEY */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

ul.parsley-error-list {
	font-family:Arial, Helvetica, sans-serif;
}


ul.parsley-error-list {
    font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}

ul.parsley-error-list li {
    line-height: 12px;
}
