/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* TYPOGRAPHY-ORBIT			 																							*/
/* ---------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

.orbit-caption {
	font-family:'FuturaStdLight', Arial, Helvetica, sans-serif;
}

.orbit-caption h4 {
	margin-bottom:22px;
}

.orbit-caption p {
	margin-bottom:16px;
}

